html, body{
  margin: 0;
  padding:0
}   

.title{
  font-family: "Dela Gothic One", sans-serif !important;
  font-weight: 400;
  font-style: normal;
}
a{
  text-decoration: none;
}

.slideButton, .product-title{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
  
}
.react-multi-carousel-dot-list {
  position: relative !important;
  margin-top: 1rem;
}
*::-webkit-scrollbar {
  width: 0.6rem;
  height: 8px;
}


* {
  scrollbar-width: thin;
  scrollbar-color: #b0b0b0;
}

*::-webkit-scrollbar-track {
  background: #f2f2f2;
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: #b0b0b0;
  border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.buttonBase{
  all: unset;
  min-width: 100%;
  display: flex;
  justify-content: center;
  padding: 10,
}

.search-input{
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #999999;
  color: white;
  width: 70%;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.search-input:focus{
  outline: none;
 
 
}

